@model List<AstronomyAsteroid>
@{
    ViewData["Title"] = "Asteroids";
}
<ul class="list-inline">
    @for (var i = 0; i < Model.Count; i++)
    {
        <li>
            <p>
                @Model[i].Id
            </p>               
        </li>
    }
</ul>
